#root {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    flex: 1 1 auto;
    width: min(768px, calc(100% - 2rem));
    margin: 0 auto;
    padding-block-start: 2rem;
    padding-block-end: 4rem;
    /* padding: 2rem; */
    text-align: center;
}

.selected-piece {
    box-shadow: inset 0px 0px 5vw rgba(255, 255, 0, 0.8);
}

.attacked {
    box-shadow: inset 0px 0px 5vw rgba(255, 0, 0, 0.8);
}

.possible {
    box-shadow: inset 0px 0px 5vw rgba(0, 200, 200, 0.8);
}
