@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family:
        Nunito Sans,
        sans-serif;
    line-height: 1.15;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */
    background-color: #302b2e;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    /* height: 100%; */
    scrollbar-gutter: stable;
}

body {
    display: flex;
    flex-direction: column;
    /* place-items: center; */
    /* height: 100%; */
    min-width: 320px;
    min-height: 100vh;
    background-color: #312e2b;
}

button {
    border: 1px solid transparent;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
}
